{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond./static/js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">eBet</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                {% include "top_menu.html" %}
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">

            <div class="row">
                <div class="col-md-3">
                    <h5>Bets</h5>
                    <div class="list-group">
                        {% for game in gamesList %}
                            <a href="/bets/{{ game.id }}/" class="list-group-item" style="display: flex; align-items: center; "><img src="{% get_media_prefix %}{{ game.icon }}" style="margin-right: 5px; max-width: 25px">{{ game.name }} <span class="badge" style="margin-left: 10px">{{ game.get_bets_amount }}</span></a>
                        {% endfor %}
                    </div>

                    <h5>Raffles</h5>
                    <div class="list-group">
                        {% for game in gamesList %}
                            <a href="/raffles/{{ game.id }}/" class="list-group-item" style="display: flex; align-items: center; "><img src="{% get_media_prefix %}{{ game.icon }}" style="margin-right: 5px; max-width: 25px">{{ game.name }} <span class="badge" style="margin-left: 10px">{{ game.get_raffles_amount }}</span></a>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-9">
                    {% block carousel %}{% endblock %}


                    <div class="row">
                        {% block content %}{% endblock %}
                    </div>

                </div>

            </div>

        </div>
        <!-- /.container -->

        <div class="container">

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p style="text-align: center">
                            {% now "DATETIME_FORMAT" %} (GMT)<br><br>
                            Copyright &copy; eBet {% now "Y" %}. All rights reserved.<br>
                            All trademarks referenced herein are the properties of their respective owners.
                        </p>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.container -->

        <!-- jQuery -->
        <script src="{% static 'js/jquery.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

        </script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-57203303-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>

</html>
