{% extends "base.html" %}{% load static %}

{% block title %}Welcome to eBet{% endblock %}

{% block carousel %}
    <div class="row carousel-holder">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% for bet in frontPageItems %}
                        <div class="item active">
                            <img class="slide-image" src="{% get_media_prefix %}{{ bet.image }}" alt="" style="max-height: 300px">
                            <div class="carousel-caption">
                                <h3>{{ bet.team1.name }} vs {{ bet.team2.name }}</h3>
                                <p><a href="/bet/{{ bet.id }}/" class="btn btn-default">Goto bet</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% for bet in betList %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="/bet/{{ bet.id }}/"><img src="{% get_media_prefix %}{{ bet.image }}" alt=""></a>
                <div class="caption">
                    <h4><a href="/bet/{{ bet.id }}/">{{ bet.team1.name }} vs {{ bet.team2.name }}</a></h4>
                    <span class="badge">{{ bet.team1.game.name }}</span> <span class="badge">Min: ${{ bet.min_amount }}</span>
                    <p>{{ bet.get_small_desc|safe|striptags }}</p>
                    <p style="text-align: center"><a href="/bet/{{ bet.id }}/" class="btn btn-default btn-sm">Goto bet</a></p>
                </div>
                <hr>
                <div class="ratings">
                    <p class="pull-right" style="color: #000000">{{ bet.team2.name }}: {{ bet|get_potential_1:bet.team2 }}x</p>
                    <p style="color: #000000">{{ bet.team1.name }}: {{ bet|get_potential_1:bet.team1 }}x</p>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for raffle in raffleList %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="/raffle/{{ raffle.id }}/"><img src="{% get_media_prefix %}{{ raffle.price.image }}" alt=""></a>
                <div class="caption">
                    <h4><a href="/raffle/{{ raffle.id }}/">{{ raffle.price.name }}</a></h4>
                    <span class="badge">{{ raffle.game.name }}</span> <span class="badge">Entry fee: ${{ raffle.enterPrice }}</span>
                    <p>{{ raffle.price.get_small_desc|safe|striptags }}</p>
                    <p style="text-align: center"><a href="/raffle/{{ raffle.id }}/" class="btn btn-default btn-sm">Goto raffle</a></p>
                </div>
                <hr>
                <div class="ratings">
                    <p class="pull-right" style="color: #000000">{{ raffle.get_slots_used }} of {{ raffle.slots }}</p>
                    <p style="color: #000000">Total value: ${{ raffle.price.realPrice }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}