{% extends "base.html" %}{% load static %}

{% block title %}eBet - Wallet{% endblock %}


{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/wallet/" class="active">Wallet</a></li>
    </ol>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Your wallet</div>
        <div class="panel-body">
            <p>Current balance: ${{ user.get_balance }}</p>
        </div>
        <table class="table">
            <tr>
                <td style="font-weight: bold;">#</td>
                <td style="font-weight: bold;">Information</td>
                <td style="font-weight: bold;">Date</td>
                <td style="font-weight: bold;">Amount</td>
            </tr>
            {% for transaction in transactionsList %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.data|safe }}</td>
                    <td>{{ transaction.time }}</td>
                    <td>${{ transaction.amount }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}